<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/w3.css">
        <meta charset='utf-8'>
        <title>Price Crawler - You searching the best price!</title>
    </head>
    <body>
